.container {
  background-color: #000021;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

input {
  margin: 5px;
}

nav {
  background-color: #000021;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* Center the navigation items */
}

nav ul li {
  margin: 0 15px;
  /* Space between navigation items */
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
}

nav ul li a:hover {
  background-color: #575757;
  border-radius: 4px;
}

html {
  background-image: url('/bg.webp');
  padding: 2px;
  animation: bg 3s linear infinite;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

@keyframes bg {
  from {
    background-position: 0px 0px;
  }

  to {
    background-position: 217px 217px;
  }
}

dialog {
  background-color: #000021;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  margin: 0 auto;
  width: 400px;
  top: 20%;
  transform: translateY(-50%);
  border-radius: 8px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.close {
  color: #aaaaaa;
  float: right;
  font-weight: bold;
}

.stacks {
  list-style: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

.stacks li {
  margin: 0 15px;
}

dialog button {
  margin: 3px;
}

td,
th {
  border: 1px solid;
  text-align: center;
  padding: 4px;
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  display: none;
  background-color: #000021;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  display: block;
}

input[type="file"] {
  display: none;
}

ul.lsn {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.lsn li {
  margin: 0 15px;
}

th {
  color: #fff;
  background-color: #090994;
  position: sticky;
  top: 50px;
  z-index: 2;
}

.sticky50 {
  position: sticky;
  top: 50px;
  z-index: 2;
}